<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="identificationType">
      <th mat-header-cell *matHeaderCellDef> Id Type </th>
      <td mat-cell *matCellDef="let row"> {{row.identificationType.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef> Identification </th>
      <td mat-cell *matCellDef="let row"> {{row.identification}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef> MiddleName </th>
      <td mat-cell *matCellDef="let row"> {{row.middleName}} </td>
    </ng-container>

    <ng-container matColumnDef="primaryLastName">
      <th mat-header-cell *matHeaderCellDef> Primary Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.primaryLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="secondLastName">
      <th mat-header-cell *matHeaderCellDef> Second Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.secondLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef> Division </th>
      <td mat-cell *matCellDef="let row"> {{row.division.name}} </td>
    </ng-container>

    <ng-container matColumnDef="laborCountry">
      <th mat-header-cell *matHeaderCellDef> Labor Country </th>
      <td mat-cell *matCellDef="let row"> {{row.laborCountry.name}} </td>
    </ng-container>

    <ng-container matColumnDef="enrollmentDate">
      <th mat-header-cell *matHeaderCellDef> Enrollment Date </th>
      <td mat-cell *matCellDef="let row"> {{row.enrollmentDate}} </td>
    </ng-container>

    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef> Create Date </th>
      <td mat-cell *matCellDef="let row"> {{row.createDate}} </td>
    </ng-container>

    <ng-container matColumnDef="updateDate">
      <th mat-header-cell *matHeaderCellDef> Update Date </th>
      <td mat-cell *matCellDef="let row"> {{row.updateDate}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button (click)="deleteById(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of users"
                 (page) ="pageChanged($event)"
  >
  </mat-paginator>
</div>
