<nav class="navbar">

  <h1 class="title">CIDENET FOO PROJECT</h1>
</nav>


  <div style="width: 80%; text-align: start; margin-left: 10px">
    <button mat-fab color="primary" aria-label="Register a new user" (click)="createNewUser()">
      <mat-icon>library_add</mat-icon>
    </button>
  </div>

<div style="width: 80%; text-align: start; margin-left: 16px">
  <button mat-fab color="primary" aria-label="Search users" (click)="findByParameters()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<app-view-users [userSearchQuery] = "searchUserByParams"></app-view-users>


