* {
  box-sizing: border-box;
  padding: 0;
}


.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.table {
  width: 75%;
  align-items: center;
}

/* Navbar */

.navbar {
  background-color: #542e87;
  border-radius: 10px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:white;
  font-family: 'Oswald';
}

.btn-light {
  font-size: large;
  font-family: 'Oswald', sans-serif;
}

mat-row:nth-child(even){
  text-align: start;
  background-color: #EDE9FD
}

mat-row:nth-child(odd){
  text-align: start;
  background-color:white
}

/* End Navbar */
@media(max-width: 1000px) {
  .mobile-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .navbar {
    background-color: #542e87;
    border-radius: 10px;
    width: 98%;
  }

  .table {
    width: 85%;
    align-items: center;
  }

  .title {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    color:white;
    font-family: 'Oswald';
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }

  mat-cell:first-of-type {
    padding-left: 0px;
  }
}
