<div class="center-xs">

  <div *ngIf="register; then titleForNewUser else titleForSearch"></div>

  <ng-template #titleForNewUser>
    <h1 mat-dialog-title>Register a new user</h1>
  </ng-template>

  <ng-template #titleForSearch>
    <h1 mat-dialog-title>Find user</h1>
  </ng-template>


  <br>

  <form [formGroup]="userFormGroup">
    <div>

      <mat-form-field>
        <mat-label>Identification type</mat-label>
        <mat-select formControlName="identificationType">
          <mat-option *ngFor="let identificationType of data.identificationTypes" [value]="identificationType.id">
            {{identificationType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="padding: 2px">
        <mat-label>Identification</mat-label>
        <input matInput formControlName="identification">
      </mat-form-field>

      <mat-form-field >
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Middle name</mat-label>
        <input matInput formControlName="middleName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Primary last name</mat-label>
        <input matInput formControlName="primaryLastName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Second last name</mat-label>
        <input matInput formControlName="secondLastName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Division</mat-label>
        <mat-select formControlName="division">
          <mat-option *ngFor="let division of data.divisions" [value]="division.id">
            {{division.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Labor country</mat-label>
        <mat-select formControlName="laborCountry">
          <mat-option *ngFor="let country of data.countries" [value]="country.id">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose the enrollment date</mat-label>
        <input matInput [matDatepicker]="picker" [min]="enrollmentMinDate" [max]="enrollmentMaxDate"
               formControlName="enrollmentDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div *ngIf="!register; then includeToFind"></div>

      <ng-template #includeToFind>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Create date</mat-label>
          <input matInput [matDatepicker]="picker2"
                 formControlName="createDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Update date</mat-label>
          <input matInput [matDatepicker]="picker3"
                 formControlName="updateDate">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Id</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>

      </ng-template>

    </div>

  </form>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>

    <div *ngIf="register; then toCreate else toQuery"> </div>

    <ng-template #toCreate>
      <button mat-raised-button (click)="createUser()" [disabled]="!userFormGroup.valid" [mat-dialog-close]=""
              color="primary">Register
      </button>
    </ng-template>

    <ng-template #toQuery>
      <button mat-raised-button (click)="findByParamaters()" [disabled]="!userFormGroup.valid" [mat-dialog-close]=""
              color="primary">Find
      </button>
    </ng-template>


  </div>
</div>
